<div class="flex flex-col">
    <div class="flex flex-row">
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Width</span>
            </label>
            <input [(ngModel)]="trackWidth" type="number" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Height</span>
            </label>
            <input [(ngModel)]="trackHeight" type="number" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Segments</span>
            </label>
            <input [(ngModel)]="inputSegments" type="number" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Seed</span>
            </label>
            <input [(ngModel)]="inputSeed" type="text" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="btn-group btn-group-vertical">
            <button [class.btn-active]="generatorMode == 'best'" (click)="generatorMode = 'best'" class="btn">Best</button>
            <button [class.btn-active]="generatorMode == 'random'" (click)="generatorMode = 'random'" class="btn">Random</button>
            <button [class.btn-active]="generatorMode == 'worst'" (click)="generatorMode = 'worst'" class="btn">Worst</button>
        </div>
        <button class="btn" (click)="generateTrack()">Generate</button>
        <div class="flex flex-col">
            <button class="btn" (click)="addSegments()">Add Segments</button>
            <button class="btn" (click)="deleteSegments()">Del Segments</button>
        </div>
        <div class="flex flex-col">
            <div>Time: {{ generationTime }} ms</div>
            <div>Iterations: {{ generationIterations }}</div>
            <div>Seed: {{ outputSeed }}</div>
        </div>
    </div>
    <div>
        <canvas class="border" #trackCanvas></canvas>
        <canvas class="border" #debugCanvas></canvas>
    </div>
</div>
