<div class="flex flex-col">
    <div class="flex flex-row">
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Width</span>
            </label>
            <input [(ngModel)]="trackWidth" type="number" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Height</span>
            </label>
            <input [(ngModel)]="trackHeight" type="number" placeholder=""
                class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Seed</span>
            </label>
            <input [(ngModel)]="inputSeed" type="text" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="btn-group btn-group-vertical">
            <button [class.btn-active]="generatorMode == 'best'" (click)="generatorMode = 'best'"
                class="btn">Best</button>
            <button [class.btn-active]="generatorMode == 'random'" (click)="generatorMode = 'random'"
                class="btn">Random</button>
            <button [class.btn-active]="generatorMode == 'worst'" (click)="generatorMode = 'worst'"
                class="btn">Worst</button>
        </div>
        <button class="btn" (click)="generateTrack()">Generate</button>
        <div class="flex flex-col">
            <button class="btn" (click)="addSegments()">Add Segments</button>
            <button class="btn" (click)="deleteSegments()">Del Segments</button>
        </div>
        <div class="flex flex-col">
            <div>Time: {{ generationTime }} ms</div>
            <div>Iterations: {{ generationIterations }}</div>
            <div>Seed: {{ outputSeed }}</div>
        </div>
    </div>
    <div class="flex">
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Start</span>
            </label>
            <input [(ngModel)]="startGate" type="text" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">End</span>
            </label>
            <input [(ngModel)]="endGate" type="text" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
    </div>
    <div class="flex">
        <div class="collapse collapse-arrow border border-secondary rounded-box">
            <input type="checkbox" class="peer" />
            <div class="collapse-title">
                Settings
            </div>
            <div class="collapse-content">
                <div class="flex flex-wrap">
                    <div *ngFor="let prop of settings.getPropertyNames()" class="form-control max-w-xs">
                        <label class="label">
                            <span class="label-text">{{prop}}</span>
                        </label>
                        <ng-container [ngSwitch]="settings.getType(settings.getProperty(prop))">
                            <input *ngSwitchCase="'number'" [(ngModel)]="settingsAsAny()[prop]" type="number" placeholder="" class="input input-bordered w-full max-w-xs" />
                            <input *ngSwitchDefault [(ngModel)]="settingsAsAny()[prop]" type="text" placeholder="" class="input input-bordered w-full max-w-xs" />
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div>
            <h4>Collisions</h4>
            <canvas class="border" #collisionCanvas></canvas>
            <div class="flex flex-wrap">
                <div class="btn-group btn-group-vertical">
                    <button [class.btn-active]="drawColor == '#fff'" (click)="drawColor = '#fff'"
                        class="btn">+</button>
                    <button [class.btn-active]="drawColor == '#000'" (click)="drawColor = '#000'"
                        class="btn">-</button>
                </div>
                <button class="btn" (click)="importCollisions()">Import Image</button>
                <button class="btn" (click)="exportCollisions()">Export Image</button>
                <button class="btn" (click)="clearCollisions()">Clear</button>
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Brush Size</span>
                    </label>
                    <input [(ngModel)]="strokeSize" type="number" placeholder=""
                        class="input input-bordered w-full max-w-xs" />
                </div>
            </div>
        </div>
        <div>
            <h4>Track</h4>
            <canvas class="border" #trackCanvas></canvas>
        </div>
        <div>
            <h4>Debug</h4>
            <canvas class="border" #debugCanvas></canvas>
        </div>
    </div>
</div>
