<div class="flex flex-col">
    <div class="flex flex-row">
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Seed</span>
            </label>
            <input [(ngModel)]="inputSeed" type="text" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="btn-group btn-group-vertical">
            <button [class.btn-active]="generatorMode == 'shortest'" (click)="generatorMode = 'shortest'"
                class="btn">Shortest</button>
            <button [class.btn-active]="generatorMode == 'random'" (click)="generatorMode = 'random'"
                class="btn">Random</button>
            <button [class.btn-active]="generatorMode == 'longest'" (click)="generatorMode = 'longest'"
                class="btn">Longest</button>
            <button [class.btn-active]="generatorMode == 'maxwidth'" (click)="generatorMode = 'maxwidth'"
                class="btn">Width</button>
        </div>
        <button class="btn" (click)="generateTracks()">Generate</button>
        <div class="flex flex-col">
            <div>Time: {{ generationTime }} ms</div>
            <div>Iterations: {{ generationIterations }}</div>
            <div>Seed: {{ outputSeed }}</div>
        </div>
    </div>
    <div class="flex">
        <div class="collapse collapse-arrow border border-secondary rounded-box">
            <input type="checkbox" class="peer" />
            <div class="collapse-title">
                Settings
            </div>
            <div class="collapse-content">
                <div>
                    <button *ngFor="let level of prefab?.levels | keyvalue" class="btn"
                        (click)="loadLevelSettings(level.key)">Load Level {{level.key}}</button>
                </div>
                <div class="flex flex-wrap" *ngIf="settings">
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">Start</span>
                        </label>
                        <input [(ngModel)]="startGate" type="text" placeholder=""
                            class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">End</span>
                        </label>
                        <input [(ngModel)]="endGate" type="text" placeholder=""
                            class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div *ngFor="let prop of settings.getPropertyNames()" class="form-control max-w-xs">
                        <label class="label">
                            <span class="label-text">{{prop}}</span>
                        </label>
                        <ng-container [ngSwitch]="settings.getType(settings.getProperty(prop))">
                            <input *ngSwitchCase="'number'" [(ngModel)]="settingsAsAny()[prop]" type="number"
                                placeholder="" class="input input-bordered w-full max-w-xs" />
                            <input *ngSwitchDefault [(ngModel)]="settingsAsAny()[prop]" type="text" placeholder=""
                                class="input input-bordered w-full max-w-xs" />
                        </ng-container>
                    </div>
                </div>
                <div>
                    <button *ngFor="let level of prefab?.levels | keyvalue" class="btn"
                        (click)="saveLevelSettings(level.key)">Save Level {{level.key}}</button>
                    <button class="btn" (click)="saveAllSettings()">Save All</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row">
        <app-level *ngFor="let level of prefab?.levels | keyvalue" [levelKey]="level.key" [levelValue]="level.value"
            [defaultGeneratorMode]="generatorMode" [drawColor]="drawColor" [inputSeed]="outputSeed"
            [strokeSize]="strokeSize" [prefab]="prefab" [prefabScale]="+prefabScale" #level></app-level>
    </div>
    <div class="flex flex-wrap">
        <div class="btn-group btn-group-vertical">
            <button [class.btn-active]="drawColor == '#fff'" (click)="drawColor = '#fff'" class="btn">+</button>
            <button [class.btn-active]="drawColor == '#000'" (click)="drawColor = '#000'" class="btn">-</button>
        </div>
        <button class="btn" (click)="importCollisions()">Import Image</button>
        <button class="btn" (click)="exportCollisions()">Export Image</button>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Brush Size</span>
            </label>
            <input [(ngModel)]="strokeSize" type="number" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
    </div>
    <div>
        <div>Track Layout</div>
        <button class="btn" (click)="importTrack()">Import Track</button>
        <button class="btn" (click)="exportTrack()">Export Track</button>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Sample Size</span>
            </label>
            <input [(ngModel)]="importSampleSize" type="number" placeholder="" class="input input-bordered w-full max-w-xs" />
        </div>
    </div>
    <div>
        <div>
            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Prefab Scale</span>
                </label>
                <input [(ngModel)]="prefabScale" type="number" placeholder=""
                    class="input input-bordered w-full max-w-xs" />
            </div>

            <div class="flex">
                <button class="btn mr-0 rounded-r-none" (click)="importPrefab()">Import Prefab</button>
                <div class="h-auto w-1 bg-neutral-focus"></div>
                <div class="dropdown">
                    <label tabindex="0" class="btn rounded-l-none ml-0 mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                        </svg>
                    </label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                        <li *ngFor="let name of prefabNames"><button class="btn"
                                (click)="loadPrefab(name)">{{name}}</button></li>
                    </ul>
                </div>
            </div>

            <div class="collapse collapse-arrow border border-secondary rounded-box">
                <input type="checkbox" class="peer" />
                <div class="collapse-title">
                    Export Settings
                </div>
                <div class="collapse-content">
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">Level Name</span>
                        </label>
                        <input [(ngModel)]="levelName" type="text" placeholder="west_coast_usa"
                            class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">Track Name</span>
                        </label>
                        <input [(ngModel)]="trackName" type="text" placeholder="racetrack_1"
                            class="input input-bordered w-full max-w-xs" />
                    </div>

                    <div class="dropdown">
                        <label tabindex="0" class="btn m-1">
                            Include Tracks
                            <svg class="ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>
                        </label>
                        <div tabindex="0" class="compact dropdown-content shadow bg-base-100 rounded-box w-64">
                            <textarea [(ngModel)]="modIncludeTracks" class="textarea textarea-primary w-full"
                                placeholder="racetrack_1"></textarea>
                        </div>
                    </div>
                    <div class="form-control w-full max-w-xs">
                        <label class="label cursor-pointer">
                            <span class="label-text">Repeat</span>
                            <input type="checkbox" class="checkbox" [(ngModel)]="repeatObject" [ngModelOptions]="{standalone: true}" />
                        </label>
                    </div>

                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">Object Type</span>
                        </label>
                        <select class="select select-bordered" [(ngModel)]="exportObjectType">
                            <option *ngFor="let obj of objectValues()" [value]="obj.shapeName">{{obj.label}}</option>
                        </select>
                    </div>

                    <div class="flex flex-row">
                        Translate:
                        <div class="form-control w-full max-w-xs">
                            <label class="label">
                                <span class="label-text">X</span>
                            </label>
                            <input [(ngModel)]="exportTranslateX" type="number" placeholder=""
                                class="input input-bordered w-full max-w-xs" />
                        </div>
                        <div class="form-control w-full max-w-xs">
                            <label class="label">
                                <span class="label-text">Y</span>
                            </label>
                            <input [(ngModel)]="exportTranslateY" type="number" placeholder=""
                                class="input input-bordered w-full max-w-xs" />
                        </div>
                        <div class="form-control w-full max-w-xs">
                            <label class="label">
                                <span class="label-text">Z</span>
                            </label>
                            <input [(ngModel)]="exportTranslateZ" type="number" placeholder=""
                                class="input input-bordered w-full max-w-xs" />
                        </div>
                    </div>

                    <div class="flex flex-row">
                        Scale:
                        <div class="form-control w-full max-w-xs">
                            <label class="label">
                                <span class="label-text">X</span>
                            </label>
                            <input [(ngModel)]="exportScaleX" type="number" placeholder=""
                                class="input input-bordered w-full max-w-xs" />
                        </div>
                        <div class="form-control w-full max-w-xs">
                            <label class="label">
                                <span class="label-text">Y</span>
                            </label>
                            <input [(ngModel)]="exportScaleY" type="number" placeholder=""
                                class="input input-bordered w-full max-w-xs" />
                        </div>
                        <div class="form-control w-full max-w-xs">
                            <label class="label">
                                <span class="label-text">Z</span>
                            </label>
                            <input [(ngModel)]="exportScaleZ" type="number" placeholder=""
                                class="input input-bordered w-full max-w-xs" />
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn" (click)="exportPrefab()">Export Prefab</button>
            <button class="btn" (click)="exportMod()">Export Mod</button>

            <div class="collapse collapse-arrow border border-secondary rounded-box">
                <input type="checkbox" class="peer" />
                <div class="collapse-title">
                    Objects
                </div>
                <div class="collapse-content">
                    <div class="overflow-x-auto">
                        <table class="table table-zebra table-compact w-full">
                            <tbody>
                                <ng-container *ngFor="let level of prefab?.levels | keyvalue">
                                    <tr>{{level.key}}</tr>
                                    <tr *ngFor="let obj of level.value.objects">
                                        <td>{{ obj | json }}</td>
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
